@import "vars";
@import "mixins";

#main {
  #mainVisual {
    overflow: hidden;
    position: relative;
    // &:before {
    //   content: "";
    //   display: block;
    //   padding-top: 56.25%;
    // }
    iframe {
      width: 100%;
      height: 100vh;
      position: absolute;
      left: 0;
      top: 0;
    }
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }
    .slogan {
      color: $white-color;
      @include absCenter();
      .main {
        font-size: $xx-large-size;
        margin-bottom: 30px;
      }
      .sub {
        font-size: $medium-size;
      }
    }
  }
}
